bpelContent/CalculateSalesTax.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://taxServices.sample.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://taxServices.sample.ws" xmlns:intf="http://taxServices.sample.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://taxServices.sample.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculateSalesTax">
    <complexType>
     <sequence>
      <element name="in" type="impl:CalculateSalesTaxInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CalculateSalesTaxInput">
    <sequence>
     <element name="taxClassId" nillable="true" type="xsd:string"/>
     <element name="categoryId" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:double"/>
     <element name="price" type="xsd:double"/>
     <element name="shipping_address_id" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="calculateSalesTaxResponse">
    <complexType>
     <sequence>
      <element name="calculateSalesTaxReturn" type="impl:CalculateSalesTaxOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CalculateSalesTaxOutput">
    <sequence>
     <element name="taxAmount" type="xsd:double"/>
     <element name="taxRate" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateSalesTaxResponse">

      <wsdl:part element="impl:calculateSalesTaxResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateSalesTaxRequest">

      <wsdl:part element="impl:calculateSalesTax" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculateSalesTax">

      <wsdl:operation name="calculateSalesTax">

         <wsdl:input message="impl:calculateSalesTaxRequest" name="calculateSalesTaxRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateSalesTaxResponse" name="calculateSalesTaxResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculateSalesTaxSoapBinding" type="impl:CalculateSalesTax">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculateSalesTax">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateSalesTaxRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateSalesTaxResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculateSalesTaxService">

      <wsdl:port binding="impl:CalculateSalesTaxSoapBinding" name="CalculateSalesTax">

         <wsdlsoap:address location="http://203.135.63.69/OFBizDemoAssemble_3rdParyWS_v2/services/CalculateSalesTax"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
