bpelContent/CreateInvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://createinvoice.ofbiz.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://createinvoice.ofbiz.com" xmlns:intf="http://createinvoice.ofbiz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://createinvoice.ofbiz.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createInvoice">
    <complexType>
     <sequence>
      <element name="createInvoiceInput" type="impl:CreateInvoiceInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CreateInvoiceInput">
    <sequence>
     <element name="orderId" nillable="true" type="xsd:string"/>
     <element name="statusId" nillable="true" type="xsd:string"/>
     <element name="partyIdFrom" nillable="true" type="xsd:string"/>
     <element name="taxAmount" type="xsd:double"/>
     <element name="shippingCharges" type="xsd:double"/>
     <element name="totalAmount" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="createInvoiceResponse">
    <complexType>
     <sequence>
      <element name="createInvoiceReturn" type="impl:CreateInvoiceOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CreateInvoiceOutput">
    <sequence>
     <element name="invoiceId" nillable="true" type="xsd:string"/>
     <element name="invoiceDate" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createInvoiceResponse">

      <wsdl:part element="impl:createInvoiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createInvoiceRequest">

      <wsdl:part element="impl:createInvoice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreateInvoice">

      <wsdl:operation name="createInvoice">

         <wsdl:input message="impl:createInvoiceRequest" name="createInvoiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:createInvoiceResponse" name="createInvoiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreateInvoiceSoapBinding" type="impl:CreateInvoice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createInvoiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createInvoiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreateInvoiceService">

      <wsdl:port binding="impl:CreateInvoiceSoapBinding" name="CreateInvoice">

         <wsdlsoap:address location="http://203.135.63.69/WrapperOFBiz_WebServices_v2/services/CreateInvoice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
